TABLE.body_2560 {
	width: 2505px;
}

TABLE.body_2048 {
	width: 1993px;
}

TABLE.body_1920 {
	width: 1865px;
}

TABLE.body_1680 {
	width: 1625px;
}

TABLE.body_1600 {
	width: 1545px;
}

TABLE.body_1440 {
	width: 1385px;
}

TABLE.body_1400 {
	width: 1345px;
}

TABLE.body_1366 {
	width: 1311px;
}

TABLE.body_1280 {
	width: 1225px;
}

TABLE.body_1152 {
	width: 1097px;
}

DIV.RESULT_2560 {
	width: 2486px;
}

DIV.RESULT_2048 {
	width: 1974px;
}

DIV.RESULT_1920 {
	width: 1846px;
}

DIV.RESULT_1680 {
	width: 1606px;
}

DIV.RESULT_1600 {
	width: 1504px;
}

DIV.RESULT_1440 {
	width: 1366px;
}

DIV.RESULT_1400 {
	width: 1326px;
}

DIV.RESULT_1366 {
	width: 1292px;
}

DIV.RESULT_1280 {
	width: 1206px;
}

DIV.RESULT_1152 {
	width: 1078px;
}